.form-group{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    align-content: center;
    margin: auto;
    margin-top: 50px;
}
label{
    margin: 10px 0 10px 0;
}
h3{
    margin-top: 15px;
    text-align:center;
    font-family: "Arial", serif;
    font-weight: bold;
    color: #3e81f3;
}